.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.edge{
  background: green;
  border-color: black;
  border-width: 5px;
  border-style: groove;
  height: 55px;
}

#title{
  text-align: center; 
  padding-top: 20px;
}

.top-margin{
  margin-bottom: 0px
}

.bot-margin{
  margin-top: 0px
}
